*,*::before,*::after{
    box-sizing:  border-box;
}

:root{
    --header-color:#49111C;
    --main-color:#A9927D;
    --sub-color:#5e503f;
    --text-color: #f2f4f3;
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

ul{
    text-decoration: none;
    list-style: none;
}

#header{
    color: white;
    background-color: var(--header-color);
    display:flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    margin-left: 50px;
}

#navbar{
    margin-right: 50px;
}

#navbar ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#navbar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    text-align: center;
    
}
#navbar ul li:hover{
  cursor: pointer;
    
}


[data-selected]{
    background-color: var(--sub-color);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: var(--sub-color);
    color:var(--text-color) ;
    border-radius: 25px;
}

.container h1{
    font-size: 2.5rem;
    font-weight: 900;
}
.container .description{
    margin-top: 10px;
    padding:50px;
    font-size: 2rem;
}

.menu{
    margin-top: 15%;
   display: grid;
   place-content: center;
   width: 50%;
   background-color: var(--sub-color);
   border-radius: 25px;
   color: var(--text-color);
}

.item-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    
}

.item-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5px;
    
}
.img2{
    grid-column: 1/ 2; 
}
.text2{
    grid-column: 2/ 3;
}
.item-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    
}

.menu h2{
    text-align: center;
}
.menu-descript{
    font-size: 1.2rem;}


.menu img{
    max-width: 100%;
    
}